{% extends 'base.html.twig' %}

{% block title %}Profile - {{ app.user.fullname }}{% endblock %}

{% block body %}

<div class="container">
    <h1>Bienvenu sur votre profile {{ app.user.fullname }} !</h1>
    <a href="{{ path('evenement_new') }}" class="btn btn-success">
        <i class="fa fa-plus-circle"></i>
        Créer un événement
    </a>
    <br><br>
    <h2>Mes événements</h2>
    <div class="row">

    </div>
</div>
{% endblock %}
