{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <h1>Bienvenu sur la {{ controller_name }}! ✅</h1>

    <p>Bienvenu sur la page d'accueuil du site !</p>

    <ul>
        <li><a href="{{ path('default') }}">— BESKWAD —</a></li>
        <li><a href="#">| Créer un événement |</a></li>
        <li><a href="#">|  Rejoindre un événement  |</a></li>
        <li><a href="{{ path('app_login') }}">| Se connecter |</a></li>
        <li><a href="#">|  Mon compte  |</a></li>
    </ul>
</div>
{% endblock %}
