{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer un nouvel événement</h1>

        {{ include('evenement/_form.html.twig') }}

        <a href="{{ path('evenement_index') }}">back to list</a>
    </div>
{% endblock %}
